<div
  style="
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
    /* height: 100px; */
  "
>
  <h1 style="padding-bottom: 4px; font-weight: bold">Easy Donate</h1>
  <ul class="list-unstyled">
    <li class="dropdown ml-2">
      <a
        class="rounded-circle"
        href="javascript:;"
        role="button"
        id="dropdownUser"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <div class="avatar avatar-md avatar-indicators avatar-online">
          <img
            alt="avatar"
            src="https://via.placeholder.com/40x40"
            class="rounded-circle"
          />
        </div>
      </a>

      <div class="dropdown-menu pb-2" aria-labelledby="dropdownUser">
        <div class="dropdown-item">
          <div class="d-flex py-2">
            <div class="avatar avatar-md avatar-indicators avatar-online">
              <img
                alt="avatar"
                src="https://via.placeholder.com/40x40"
                class="rounded-circle"
              />
            </div>
            <div class="ml-3 lh-1">
              <h5 class="mb-0">{{ username }}</h5>
              <p class="mb-0">annette@company.com</p>
            </div>
          </div>
        </div>
        <!-- <div class="dropdown-divider"></div> -->

        <div class="dropdown-divider"></div>
        <ul class="list-unstyled">
          <li>
            <a class="dropdown-item" (click)="logout()">
              <span class="mr-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="14"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-power"
                >
                  <path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path>
                  <line x1="12" y1="2" x2="12" y2="12"></line>
                </svg>
              </span>
              Sign Out
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
