<div class="header-container" style="">
  <h1 style="font-weight: bold" class="m-0">Medicine Management System</h1>
  <ul class="list-unstyled">
    <li class="dropdown ml-2">
      <a
        href="javascript:;"
        role="button"
        id="dropdownUser"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <div class="avatar avatar-md avatar-indicators avatar-online">
          <img
            alt="avatar"
            src="https://uybor.uz/borless/avtobor/img/user-images/user_no_photo_300x300.png"
          />
        </div>
      </a>

      <div class="dropdown-menu pb-2" aria-labelledby="dropdownUser">
        <div class="dropdown-item">
          <div class="d-flex py-2">
            <div class="avatar avatar-md avatar-indicators avatar-online">
              <img
                alt="avatar"
                src="https://uybor.uz/borless/avtobor/img/user-images/user_no_photo_300x300.png"
              />
            </div>
            <div class="ml-3 lh-1 align-self-center">
              <h5 class="mb-0">{{ username }}</h5>
              <p class="mb-0">{{ email }}</p>
            </div>
          </div>
        </div>
        <!-- <div class="dropdown-divider"></div> -->

        <div class="dropdown-divider"></div>
        <ul class="list-unstyled">
          <li>
            <a
              class="dropdown-item"
              class="nav-link text-white"
              [routerLink]="['/Profile']"
            >
              <span class="mr-2">
                <svg
                  class="mds-icon userprofile"
                  id="icon-settings"
                  viewBox="0 0 24 24"
                >
                  <title>icon-profile</title>
                  <circle cx="12" cy="8" r="5" />
                  <path d="M3,21H3a8,8,0,0,1,8-8h2a8,8,0,0,1,8,8h0" />
                </svg>
              </span>
              <span style="color: black">Profile</span>
            </a>
            <a class="dropdown-item" (click)="logout()">
              <span class="mr-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="14"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-power"
                >
                  <path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path>
                  <line x1="12" y1="2" x2="12" y2="12"></line>
                </svg>
              </span>
              Sign Out
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
