<!-- Form-->
<div class="login_wrapper">
  <div class="login_from">
    <div class="form">
      <div class="form-toggle"></div>
      <div class="form-panel one">
        <div class="form-header">
          <h1>Login</h1>
        </div>
        <div class="form-content">
          <form [formGroup]="loginForm">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" id="username" name="username" class="form-control" formControlName="loginusername"
                required />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" required="required"
                formControlName="loginpassword" />
            </div>
            <div class="form-group">
              <label class="form-remember">
                <input type="checkbox" />Remember Me
              </label>
              <a class="form-recovery">Forgot Password?</a>
              <!-- <a class="signup form-recovery">Signup</a> -->
            </div>
            <div class="form-group">
              <button type="submit" (click)="login()">Log In</button>
            </div>
          </form>
        </div>
      </div>
      <div class="form-panel two" [ngStyle]="{ display: role_id == 4 ? 'block' : 'none' }">
        <div class="form-content">
          <form [formGroup]="registerForm">
            <div class="row">
              <div class="col-lg-6 form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required="required" formControlName="name" />
              </div>
              <div class="col-lg-6 form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required="required" formControlName="username" />
              </div>
              <div class="col-lg-6 form-group">
                <label for="useremail">EMAIL</label>
                <input type="email" id="useremail" name="useremail" required="required" formControlName="useremail" />
              </div>
              <div class="col-lg-6 form-group">
                <label for="usermobile">MOBILE</label>
                <input type="text" id="usermobile" name="usermobile" required="required" formControlName="usermobile" />
              </div>
              <div class="col-lg-6 form-group">
                <label for="usercity">CITY</label>
                <input type="text" id="usercity" name="usercity" required="required" formControlName="usercity" />
              </div>
              <div class="col-lg-6 form-group">
                <label for="userstate">STATE</label>
                <input type="text" id="userstate" name="userstate" required="required" formControlName="userstate" />
              </div>
              <div class="col-lg-12 form-group">
                <label for="usersecurityquestion" style="font-size: 10px !important; color: yellow">
                  Who is your favourite cricketer (Security Question)</label>
                <input type="text" id="usersecurityquestion" name="usersecurityquestion" required="required"
                  formControlName="usersecurityquestion" />
              </div>
              <div class="col-lg-6 form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required="required" formControlName="password" />
              </div>
              <div class="col-lg-6 form-group">
                <label for="cpassword">Confirm Password</label>
                <input type="password" id="cpassword" name="cpassword" required="required"
                  formControlName="cpassword" />
              </div>
              <div class="form-group">
                <button type="submit" (click)="register()">Register</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>