<div class="main">
  <div class="">
    <div class="side_main_content">
      <div class="side_nav">
        <app-sidenav></app-sidenav>
      </div>
      <div class="content">
        <div class="header">
          <app-header></app-header>
        </div>
        <div class="welcome">
          <div class="card m-3 p-0 ml-0 mr-0">
            <div class="card-body" style="padding: 5px">
              <div class="mat-elevation-z8"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
