<div class="main">
  <div class="">
    <div class="side_main_content">
      <div class="side_nav">
        <app-sidenav></app-sidenav>
      </div>
      <div class="content">
        <div class="header">
          <app-header></app-header>
        </div>
        <div class="welcome">
          <div class="card m-3 p-0 ml-0 mr-0">
            <div class="card-body" style="padding: 5px">
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="executiveDataSource">
                  <!-- Name Column -->
                  <!-- <ng-container matColumnDef="donationID">
                    <th mat-header-cell *matHeaderCellDef>DonationID</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.donationID }}
                    </td>
                  </ng-container> -->
                  <ng-container matColumnDef="userName">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.userName }}
                    </td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="userEmail">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.userEmail }}
                    </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="userCity">
                    <th mat-header-cell *matHeaderCellDef>city</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.userCity }}
                    </td>
                  </ng-container>
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="userState">
                    <th mat-header-cell *matHeaderCellDef>State</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.userState }}
                    </td>
                  </ng-container>
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="userMobile">
                    <th mat-header-cell *matHeaderCellDef>Mobile No</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.userMobile }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      style="padding-left: 15px"
                    >
                      Collected
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <button
                        mat-button
                        color="warn"
                        (click)="collectmedicine(row)"
                      >
                        collect
                      </button>
                    </td>
                  </ng-container>

                  <tr
                    mat-header-row
                    *matHeaderRowDef="executiveDisplayedColumns"
                  ></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: executiveDisplayedColumns"
                  ></tr>
                </table>

                <mat-paginator
                  [pageSizeOptions]="[10, 25, 50]"
                  showFirstLastButtons
                  aria-label="Select page of periodic elements"
                >
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
